body{
    background-color:#a3b2b6;
}


h1{
    /* background-color: rgb(138, 175, 207); */
    text-align: center;
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

.like-body{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
    /* background-image: url(https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=747&q=80);
    /* background-repeat: no-repeat; 
    margin-left: 3vh;
    margin-right: 3vh; 
    background-size: cover;
    background-position: center; */

}

.main-container{
    /* background-color: aqua; */
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color:#daded4;
    border-radius: 0.7vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* align-items: center; */
    row-gap: 4vh;
}

.input-section{
    margin-top: 4vh;
    height: 50vh;
    width: 60vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    /* margin-left: 21vh; */
    /* justify-content: center; */
    flex-direction: column;
    row-gap: 4vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.19);
}
.action-items{
    justify-content: center;
    height: 15vh;
    width: 60vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    flex-direction: row;
    column-gap: 4vh;
    background-color: rgb(27, 204, 107);
}
.output-section{
    height:20vh;
    width: 70vw;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: palevioletred;
}
.label{
    font-size: 2vh;
}

.textbox{
    height: 4vh;
    width: 8vh;
    border-radius: 0.52vw;
}
.result-textbox{
    height: 4vh;
    width: 10vh;
    border-radius: 0.52vw;
}

.buttons{
    width: 18vw;
    height: 6vh;
    border-radius: 0.52vw;
    font-size: 2.5vh;
    cursor: pointer;
}

.convert-button{
    font-size: 2vh;
    background-color: blue;
    color: white;
}

.reset-button{
    font-size: 2vh;
    background-color: red;
    color: white;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding: 0.4vh;
    margin-top: 0vh;
    
  }